@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
  list-style: none;
}

@-webkit-keyframes icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  min-height: 100vh;
}

body.-lock {
  overflow: hidden;
  background-color: darkblue;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: #000000;
  padding: 0 20px;
}

.header .container {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .header .container {
    max-width: 984px;
  }
}

@media (max-width: 767px) {
  .header .container {
    border-bottom: none;
  }
}

.header__logo {
  width: 250px;
  overflow: hidden;
  display: block;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

@media (max-width: 767px) {
  .header__logo {
    width: 160px;
    padding: 16px 0;
  }
}

.header__logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__nav {
  list-style: none;
  width: 100%;
  min-width: 134px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .header__nav {
    min-width: 112px;
  }
}

.header__nav a {
  text-decoration: none;
  padding: 32px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  position: relative;
}

@media (max-width: 1024px) {
  .header__nav a {
    font-size: 12px;
    line-height: 14px;
    padding: 43px 0;
  }
}

.header__nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__nav a:hover::after {
  width: 100%;
}

.header__nav a:active::after {
  background-color: #ff4343;
}

.header__nav a:active {
  color: #ff4343;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: fixed;
    top: 44px;
    right: 47px;
    z-index: 30;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    cursor: pointer;
  }
}

.burger__lines {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 110;
}

.burger__lines::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  top: -7.5px;
  z-index: 110;
}

.burger__lines::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  top: 7.5px;
  z-index: 110;
}

.burger._active .burger__lines {
  background-color: transparent;
}

.burger._active .burger__lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000000;
}

.burger._active .burger__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000000;
}

.burger__nav {
  padding: 102px 20px 0 20px;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-transition: left 0.4s linear;
  transition: left 0.4s linear;
  text-align: center;
}

.burger__nav._active {
  left: 0;
  z-index: 90;
  background-image: url("../media/banner.jpg");
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
}

.burger__link {
  display: block;
  padding: 25px 0;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.burger__link:active {
  color: #ff4343;
}

.banner {
  padding: 230px 0 120px;
  background-image: url("../media/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.banner .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 200px 0 52px;
    background-position: 25% 75%;
  }
}

.banner::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #a2a3a5;
  opacity: 0.6;
}

.banner__block {
  max-width: 600px;
  margin-left: auto;
}

.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  color: #000000;
  margin-bottom: 31.43px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61.86px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.71px;
  }
}

.banner__title.-none {
  opacity: 0;
}

.banner__text {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-align: right;
  color: #000000;
  margin-bottom: 82px;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-align: right;
    margin-bottom: 90.57px;
  }
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-align: right;
    margin-bottom: 51px;
  }
}

.banner__text.-none {
  opacity: 0;
}

.banner__button {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 900;
  display: block;
  background-color: #ff4343;
  padding: 26px;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 0 0 auto;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .banner__button {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .banner__button {
    max-width: 100%;
    padding: 15px;
  }
}

.banner__button.-none {
  opacity: 0;
}

.banner__button:hover {
  background-color: #e71414;
  cursor: pointer;
}

.banner__button:active {
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
  background-color: #ff4343;
  cursor: pointer;
}

.advantages {
  padding: 104px 0 0;
}

@media (max-width: 767px) {
  .advantages {
    padding: 39px 0 32px;
  }
}

.advantages__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .advantages__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .advantages__subtitle {
    margin-bottom: 30px;
  }
}

.advantages__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 1024px) {
  .advantages__box {
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .advantages__box {
    display: block;
  }
}

@media (max-width: 767px) {
  .advantages__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .advantages__item:last-child {
    margin-bottom: 0;
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto 21px;
  -webkit-animation: icon 2s linear infinite;
          animation: icon 2s linear infinite;
}

@media (max-width: 767px) {
  .advantages__icon {
    width: 76px;
    height: 76px;
    margin: 0 auto 38px;
  }
}

.advantages svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #2d3033;
}

@media (max-width: 1024px) {
  .advantages__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .advantages__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}

.advantages__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .advantages__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.about {
  padding: 104px 0 64px;
}

@media (max-width: 767px) {
  .about {
    padding: 39px 0 32px;
  }
}

.about__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 900;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .about__container {
    display: block;
  }
}

.about__box {
  width: calc((100% - 50px) / 2);
}

.about__box:first-child {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .about__box:first-child {
    margin-right: 0;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .about__box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

.about__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .about__block {
    margin-bottom: 40px;
  }
}

.about__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__icon {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 21px;
}

.about svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #2d3033;
}

@media (max-width: 1024px) {
  .about__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .about__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}

.about__number {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 767px) {
  .about__number {
    font-size: 32px;
    line-height: 36px;
  }
}

.about__desc {
  font-size: 20px;
  line-height: 22px;
  color: #6c7279;
}

@media (max-width: 767px) {
  .about__desc {
    font-size: 16px;
    line-height: 18px;
  }
}

.about__services {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
  text-align: right;
  padding-right: 26px;
}

@media (max-width: 767px) {
  .about__services {
    display: none;
  }
}

.about__svg {
  margin-left: auto;
  margin-bottom: 35px;
}

.about__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-align: left;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .about__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .about__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-align: left;
  }
}

.stages {
  padding: 104px 0 64px;
  background-color: #ff4343;
}

@media (max-width: 767px) {
  .stages {
    padding: 39px 0 32px;
  }
}

.stages__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 900;
}

.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767px) {
  .stages__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .stages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.stages__number {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto 14px;
}

.stages__numberBlock:nth-child(odd) {
  min-width: 127px;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .stages__numberBlock:nth-child(even) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.stages__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-align: center;
  color: #ffffff;
}

.works {
  padding: 104px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 767px) {
  .works {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 29px 40px 0;
    row-gap: 10px;
  }
}

.works__picture {
  display: block;
  position: relative;
  border: 1px solid #fff;
}

.works__picture::before {
  content: "";
  display: block;
  padding-top: 90%;
}

.works img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.works__hover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff4343;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.works__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 36px;
}

@media (max-width: 1024px) {
  .works__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .works__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 8px;
  }
}

.works__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .works__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .works__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.works__picture:hover .works__hover {
  opacity: 0.8;
}

.works__picture:active .works__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #b90c0ccc;
  opacity: 0.8;
}

.footer {
  padding: 71px 0 69px;
  background-color: #000000;
}

@media (max-width: 1024px) {
  .footer {
    padding: 47px 0 42px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 35.14px 0 33.14px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .container {
    display: block;
  }
}

.footer__item {
  width: calc((100% - 30px - 30px) / 3);
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .footer__item {
    width: calc((100% - 20px - 20px) / 3);
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .footer__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 69.34px;
  }
}

.footer__item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer__item:nth-child(2) {
    margin-bottom: 60px;
  }
}

.footer__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 29px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.footer__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  width: 39px;
  height: 39px;
  overflow: hidden;
  border: 1px solid #c6cbcd;
  margin-right: 27px;
  position: relative;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .footer__icon {
    width: 33px;
    height: 33px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .footer__icon {
    margin-right: 16px;
  }
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon svg {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__icon path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__icon:hover {
  cursor: pointer;
  border: 1px solid #ff4343;
}

.footer__icon:active {
  -webkit-box-shadow: 1px 1px 2px 2px #ff4343;
          box-shadow: 1px 1px 2px 2px #ff4343;
}

.footer__icon:hover path {
  fill: #ff4343;
}

.call {
  padding: 108px 0 100px;
}

@media (max-width: 1024px) {
  .call {
    padding: 90px 0 78px;
  }
}

@media (max-width: 767px) {
  .call {
    padding: 49px 0 45px;
  }
}

.call__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 23.29px;
  color: #000000;
  text-align: center;
}

@media (max-width: 1024px) {
  .call__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19.71px;
  }
}

@media (max-width: 767px) {
  .call__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 21.71px;
  }
}

.call__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 49.14px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .call__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 44.71px;
  }
}

@media (max-width: 767px) {
  .call__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 13.42px;
  }
}

.call__btn {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 900;
  display: block;
  background-color: #ff4343;
  padding: 25px;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media (max-width: 1024px) {
  .call__btn {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    max-width: 314px;
    padding: 28px;
  }
}

@media (max-width: 767px) {
  .call__btn {
    max-width: 100%;
  }
}

.call__btn:hover {
  background-color: #e71414;
  cursor: pointer;
}

.call__btn:active {
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
  background-color: #ff4343;
  cursor: pointer;
}

.menuMobile {
  display: none;
  position: relative;
  right: 0;
}

@media (max-width: 767px) {
  .menuMobile {
    display: block;
  }
}

.menuMobile a {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  padding: 43px 0;
  text-decoration: none;
  padding: 32px 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  display: block;
}

.menuMobile a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.menuMobile a:hover::after {
  width: 100%;
}

.menuMobile a:active::after {
  background-color: #ff4343;
}

.menuMobile a:active {
  color: #ff4343;
}

.repair {
  padding: 114px 0 64px;
}

@media (max-width: 767px) {
  .repair {
    padding: 99px 0 32px;
  }
}

.repair__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .repair__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .repair__subtitle {
    margin-bottom: 30px;
  }
}

.repair__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .repair__block {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .repair__block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.repair__picture {
  display: block;
  position: relative;
  border: 1px solid #fff;
}

.repair__picture::before {
  content: "";
  display: block;
  padding-top: 90%;
}

.repair img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  padding: 50px;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.before-after {
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .before-after {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .before-after {
    margin-bottom: 24px;
  }
}

.porch {
  padding: 114px 0 64px;
}

@media (max-width: 767px) {
  .porch {
    padding: 99px 0 32px;
  }
}

.porch__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .porch__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .porch__subtitle {
    margin-bottom: 30px;
  }
}

.facades {
  padding: 114px 0 64px;
}

@media (max-width: 767px) {
  .facades {
    padding: 99px 0 32px;
  }
}

.facades__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .facades__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .facades__subtitle {
    margin-bottom: 30px;
  }
}

.facades__block {
  max-width: 850px;
  margin: 0 auto;
}

.facades__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */